/*BOTON PRINCIPAL DE HIRE DEVELOPERS */

.btn-primary {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: var(--bg-btn-color);
    color: var(--letter-color-white);
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* Secccion del contacto (Input + boton)*/

.btn-secondary {
    background-color: var(--bg-btn-color);
    border: none;
    color: var(--letter-color-white);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.contacto {
    display: flex;
    align-items: first baseline;
    margin-top: 2rem;
}

.contacto input {
    padding: 1rem;
    height: 18px;
    width: 14rem;
    min-width: 14rem;
    border-radius: 8px 0 0 8px;
    border: 1px solid #BDBDBD;
}

.contacto input:focus {
    outline: none;
}

.contacto button {
    height: 52px;
    padding: 1rem;
    min-width: 100.03px;
}

/*HASTA ACA LOS ESTILOS DE LA LLAMADA A LA ACCION DEL MAIL INPUT + BOTON */