.reviews {
    margin: 5rem 7rem 2rem 7rem;
}

.reviews-tarjetas {
    display: flex;
    justify-content: space-between;
}

.reviews-tarjeta {
    margin-top: 2rem;
    width: 30%;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 1rem 1rem;
    box-shadow: rgba(137, 137, 137, 0.3) 0px 8px 20px 0px;

}

.italic {
    color: grey;
    font-style: italic;
    margin: 1rem 0;

}

.empresa{
    color: grey;
    margin-top: 0.7rem;
}